.portal/
.DS_Store
.cpcache/
.clj-kondo/
.calva/output-window/
cursorless-snippets/.calva/output-window/
.lsp/.cache/
.joyride/.nrepl-port
py.env
env.py
clojure/.lsp/
.calva/
ryan/clojure/string-fns/.lsp/
cheatsheet/.calva/repl.calva-repl
ryan/clojure/.nrepl-port
ryan/clojure/.joyride/.nrepl-port
