{"Trigger SmartBlock: {{[[TODO]]}} #demo   #integrate" #{["cmd-ctrl-alt-shift-v" "cmd-ctrl-alt-shift-j"]}, :roam.action.block/add-block-below #{["ctrl-shift-k"]}, ["dvargas92495+workbench" "(WB) Insert block above"] #{["ctrl-shift-u"]}, ["mlava+todo-teleport" "Teleport TODO date tag"] #{["cmd-shift-t"]}, ["mlava+todo-teleport" "Teleport TODOs"] #{["cmd-alt-shift-j"]}, ["dvargas92495+query-builder" "Open Query Drawer"] #{["cmd-ctrl-alt-shift-8"]}, ["dkapila+roam-portal" "Toggle Roam Portal"] #{["cmd-ctrl-alt-shift-p"]}, ["8bitgentleman+clear-sidebar" "Clear Sidebar"] #{["ctrl-l"]}}